<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>armv7</key>
		<true/>
	</dict>
	<key>appleId</key>
	<string>longjb1993@icloud.com</string>
	<key>appleWatchEnabled</key>
	<true/>
	<key>artistId</key>
	<integer>910462528</integer>
	<key>artistName</key>
	<string>网易</string>
	<key>bundleDisplayName</key>
	<string>网易新闻</string>
	<key>bundleShortVersionString</key>
	<string>448</string>
	<key>bundleVersion</key>
	<string>5.3.4</string>
	<key>copyright</key>
	<string>©2011-2015 网易公司版权所有</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>新闻</string>
	<key>genreId</key>
	<integer>6009</integer>
	<key>is-purchased-redownload</key>
	<true/>
	<key>itemId</key>
	<integer>425349261</integer>
	<key>itemName</key>
	<string>网易新闻 - 最深度的新闻与最有趣的网友都在此</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>网易</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2013-04-24T15:48:02Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>偶尔/轻微的惊悚/恐怖题材 , Advisory.NO.GAMBLING_CONTESTS , 偶尔/轻微的模拟赌博 , 偶尔/轻微的色情内容或裸露 and Advisory.NO.UNRESTRICTED_WEB_ACCESS</string>
		<key>label</key>
		<string>12+</string>
		<key>rank</key>
		<integer>300</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2011-03-19T02:41:13Z</string>
	<key>s</key>
	<integer>143465</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a2.phobos.apple.com/us/r30/Purple3/v4/bc/d3/a1/bcd3a130-c677-820a-8674-62ea66c83b52/CRV_AP_150x90.lsr</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>4</integer>
		<integer>9</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.netease.news</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>813311684</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>3506627</integer>
		<integer>3545444</integer>
		<integer>3585295</integer>
		<integer>3644857</integer>
		<integer>3682553</integer>
		<integer>3918330</integer>
		<integer>4031593</integer>
		<integer>4033670</integer>
		<integer>4131482</integer>
		<integer>4187411</integer>
		<integer>4480587</integer>
		<integer>4762464</integer>
		<integer>5244972</integer>
		<integer>5361309</integer>
		<integer>6019217</integer>
		<integer>6582812</integer>
		<integer>6758734</integer>
		<integer>7502692</integer>
		<integer>7735298</integer>
		<integer>7996259</integer>
		<integer>8317868</integer>
		<integer>8540264</integer>
		<integer>9298055</integer>
		<integer>9968855</integer>
		<integer>10395240</integer>
		<integer>11535245</integer>
		<integer>11719313</integer>
		<integer>12150665</integer>
		<integer>12964338</integer>
		<integer>13417685</integer>
		<integer>13750269</integer>
		<integer>13986004</integer>
		<integer>14445443</integer>
		<integer>14876792</integer>
		<integer>15252314</integer>
		<integer>15434301</integer>
		<integer>15526156</integer>
		<integer>15653871</integer>
		<integer>15934879</integer>
		<integer>16062432</integer>
		<integer>16708686</integer>
		<integer>31572757</integer>
		<integer>63032636</integer>
		<integer>82873608</integer>
		<integer>93672685</integer>
		<integer>204862634</integer>
		<integer>276382631</integer>
		<integer>337002637</integer>
		<integer>401622638</integer>
		<integer>466002637</integer>
		<integer>556294921</integer>
		<integer>589153336</integer>
		<integer>592623224</integer>
		<integer>607082895</integer>
		<integer>623602666</integer>
		<integer>655372896</integer>
		<integer>682212644</integer>
		<integer>727712647</integer>
		<integer>750712661</integer>
		<integer>810817776</integer>
		<integer>810940703</integer>
		<integer>811503263</integer>
		<integer>811702980</integer>
		<integer>811952976</integer>
		<integer>812080743</integer>
		<integer>812187722</integer>
		<integer>812261424</integer>
		<integer>812406912</integer>
		<integer>812775058</integer>
		<integer>812862479</integer>
		<integer>812998583</integer>
		<integer>813088657</integer>
		<integer>813210827</integer>
		<integer>813311684</integer>
	</array>
	<key>storeCohort</key>
	<string>3|date=1366817400000&amp;sf=143465</string>
	<key>userName</key>
	<string>龙剑博</string>
	<key>vendorId</key>
	<integer>104792803</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
